﻿
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading" align="center"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Area Restrita</h2>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" ng-model="vm.obj.email" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="vm.obj.senha" placeholder="Senha" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.obj.esqueci" value="remember-me"> Esqueci minha senha{{vm.obj.esqueci}}
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="vm.entrar()">Entrar</button>
  </form>

</div> <!-- /container -->



	
		