<div id="template" class="container-fluid">
	
	<div class="row">
		
		<div class="col-sm-12 col-md-3 col-height">

			<div ui-view="sidebar"></div>

		</div>

		<div class="col-sm-12 col-md-9 col-height">

			<div ui-view="content"></div>

		</div>

	</div>

</div>