<div id="template">

    <!-- Header and Navigation --> 
	<div ui-view="header"></div>

	<div class="container-fluid">
	
		<div class="row">
		
			<div class="col-xs-12 col-sm-12 col-md-12 col-height">

				<div ui-view="content"></div>

			</div>

		</div>

	</div>

</div>