
<nav class="navbar navbar-inverse" style="border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="CodigoEsperto.com" src="...">
      </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        
        <li><a href="#"  ui-sref="app.usuariolistar"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuários</a></li>
        <li><a href="#"  ui-sref="app.artigo"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Meus Artigos</a></li>
        <li><a href="#"  ui-sref="app.imagem"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Imagens</a></li>
     	  <li><a href="#"  ui-sref="app.artigo"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estatísticas</a></li>
     	  <li><a href="#"  ui-sref="app.artigo"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Meus Ganhos</a></li>
      
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#">Editar meus Dados</a></li>
            <li><a href="#">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->


  </div>
</nav>