﻿



<div class="modal-content">
	
	<div class="modal-header">
    	<h5 class="modal-title" id="modal-title">Checklist de Qualidade</h5>
    </div>
    

    <div class="modal-body ng-scope" id="modal-body">
	    

	    <div class="row">
					  
			<div class="col-sm-12 col-sm-12 col-md-12">
				
				<img  src="http://s3-sa-east-1.amazonaws.com/mestrejedi/imagens/{{vm.obj.id}}.jpg" class="img-responsive" alt="Imagem não disponivel">
			
			</div>
					
		</div>
	    
	    <br>
	    <br>

	    <div class="row">
					  
			<div class="col-sm-12 col-sm-12 col-md-12" align="center" style="font-size:20px;background-color:#eee">
				
					http://s3-sa-east-1.amazonaws.com/mestrejedi/imagens/{{vm.obj.id}}.jpg
				
			</div>
					
		</div>

	 
    </div>
    


    <div class="modal-footer ng-scope">
    	
    	<button class="btn btn-warning" type="button"  ng-click="vm.cancelar()">voltar</button>
        
    </div>

</div>