<html lang="en" >

<head>
  
  <title>Estudo de Interface</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Ubuntu' rel='stylesheet' type='text/css'>
  
  <link href="http://mestrejedi.com/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

  <link rel='stylesheet' href='http://mestrejedi.com/bower_components/textAngular/dist/textAngular.css'>
  <link rel='stylesheet' href='http://mestrejedi.com/bower_components/toastr/build/toastr.min.css'>

  <link rel='stylesheet' href='http://mestrejedi.com/bower_components/angular-datatables/dist/css/jquery.dataTables.min.css'>
  <link rel='stylesheet' href='http://mestrejedi.com/bower_components/angular-datatables/dist/css/angular-datatables.css'>




  <link rel='stylesheet' href='http://mestrejedi.com/bower_components/ng-tags-input/ng-tags-input.min.css'>
  <link rel='stylesheet' href='http://mestrejedi.com/bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css'>






  <link rel="stylesheet" href="http://mestrejedi.com/stylesheets/menu.css" >
  <link rel="stylesheet" href="http://mestrejedi.com/stylesheets/estilo.css" >

</head>

<body ng-app="app">
  

  <div ui-view></div>


  <!-- Libraries  -->
  <script src="http://cdn.mestrejedi.com.s3-sa-east-1.amazonaws.com/app.js"></script>


  

</body>
</html>