
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv=Content-Type content=text/html; charset=utf-8>
    <meta http-equiv="Content-Language" content="pt-br">
    <link rel="icon" href="../../favicon.ico">
    
    <title><%= obj.titulo %> - Programando.io</title>
    <meta name="Description" content="<%= obj.subtitulo %>, Escrito por Victor Maia Sarrasqueiro em 11/03/1987 para o blog www.programando.io">
    <meta name="author" content="Victor Maia Sarrasqueiro">
    <meta name="copyright" content="www.programando.io, Victor Maia Sarrasqueiro">  
    <meta name="keywords" content="palavra a, palavra b, palavra c, palavra d, palavra e, palavra f, etc" />
    

    

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://mestrejedi.com/bower_components/prism/prism2.css" rel="stylesheet">

    <link rel="stylesheet" href="http://mestrejedi.com/stylesheets/base.css" >


  </head>
<!-- NAVBAR
================================================== -->
  <body>

    <div class="navbar-wrapper">

      <div class="container">

        <nav class="navbar navbar-inverse">
          
          <div class="container-fluid">
            
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">CODIFICANDO.COM</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </nav>

      </div>
    </div>


    <div class="container" >

    
      <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9" >  

          <div class="row">

            <div class="col-sm-12 col-md-12">

              <div style="border: solid 1px #eee;border-top: solid 2px #eee;border-bottom: solid 0px;padding:5px;background-color:rgba(225, 0, 1, 0.75);font-size:14px;color:white">
                
                <div class="row">

                  <div class="col-sm-12 col-md-6">

                    <div style="font-size:16px;font-weight:bold;padding:5px;"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> &nbsp;&nbsp;Java</div>

                  </div>

                  <div class="col-sm-12 col-md-6">

                   

                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="box">

            

            <h1 class="title"><%= obj.titulo %></h1>

            <h3 class="subtitle"><%= obj.subtitulo %></h3>

            <div class="row">
              
              <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 col-xl-1" align="left">
                <img src="http://memorialdafama.com/biografiasRZ/RenatoRusso.jpg" alt="Autor" width="50px" class="img-responsive" style="margin-left:10px;">
              </div>

              <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xl-11" align="left">
              Victor Maia | 11/03/2016
              </div>

            </div>
            

  

          </div>


          <br>

          <div class="box">

            <div class="content">
              <%- obj.textHtml %>
            </div>
          
          </div>

          <div class="box">

            <h3>Sobre o Autor do Artigo</h3>

            <div class="aboutAuthor">
              
              <div class="container-fluid">

                <div class="row">
                  
                  <div class="col-sm-12 col-md-2">
                  
                     <img src="http://memorialdafama.com/biografiasRZ/RenatoRusso.jpg" alt="Autor do Artigo" width="100px" class="img-responsive">

                  </div>

                  <div class="col-sm-12 col-md-8">
                    
                    <h4>André Bazani</h4>
                    <p>Chupador de rola nos horarios livres</p>

                  </div>

                </div>

              </div>

            </div>
            
          </div>


        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">

            
      
        </div>


      </div><!-- /.row -->


    </div>


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="http://mestrejedi.com/bower_components/prism/prism2.js"></script>


    <!-- Facebook SDK core JavaScript
    ================================================== -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=616585798500309";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>




