
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CODIFICANDO.COM</title>

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="http://localhost:3000/bower_components/prism/prism2.css" rel="stylesheet">

    <link rel="stylesheet" href="http://localhost:3000/stylesheets/base.css" >


  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">CODIFICANDO.COM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>




    <div class="container" >

    
      <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9" >  

          <div class="box">
            
            <div class="tags">
              <a href="https://scotch.io/tag/expressjs">expressJS</a>
              <a href="https://scotch.io/tag/javascript">javascript</a>
              <a href="https://scotch.io/tag/node-js">node.js</a>
              <a href="https://scotch.io/tag/react">react</a>
              <a href="https://scotch.io/tag/routing">routing</a>
            </div>

            <h1 class="title"><%= obj.titulo %></h1>

            <h3 class="subtitle"><%= obj.subtitulo %></h3>

            <div class="row" style="margin-bottom:20px;">
              
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" align="left">
                <img src="http://memorialdafama.com/biografiasRZ/RenatoRusso.jpg" alt="Autor" width="60px" class="img-circle" style="margin-left:10px;">
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" style="margin-top:30px" align="left">
Victor Maia
              </div>
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" style="margin-top:30px" align="left">
11/03/2016
              </div>

            </div>
            

  

          </div>


          <br>

          <div class="box">


            <%- obj.textHtml %>

          </div>


        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">

            
      
        </div>


      </div><!-- /.row -->


    </div>


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="http://localhost:3000/bower_components/prism/prism2.js"></script>


    <!-- Facebook SDK core JavaScript
    ================================================== -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=616585798500309";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>




