
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CODIFICANDO.COM</title>

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="http://mestrejedi.com/stylesheets/carrousel.css" rel="stylesheet">
    <link href="http://mestrejedi.com/stylesheets/base.css"      rel="stylesheet">

  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">CODIFICANDO.COM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:30px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="https://www.mxcursos.com/blog/wp-content/uploads/2016/07/Angular.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Començando a Programar com NodeJS</h1>
              <p>Aprenda a fazer uma aplicação completa utilizando o framework da Google que está bombando na internet. Começe agora mesmo a ler esta série de artigos que vai do Hello World até Tópicos avançados!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://softwareengineeringdaily.com/wp-content/uploads/2015/08/nodejs_logo_green.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Criando serviçoes RESTful com NodeJS</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://www.javatechupdates.net/wp-content/uploads/2016/05/Spring-MVC.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Que tal construir um cadastro de pessoas utilizando Spring MVC?</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row">

       
        <div class="col-sm-8 col-md-10">

            <% for(var i=0; i<categorias.length; i++) {%>

            <div>
            
              <div class="row">

                <div class="col-sm-4 col-md-3">

                    <a href="#" class="thumbnail" style="padding:0px">
                      <div style="background-color:<%= categorias[i].cor %>;padding:3px;color:white"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> &nbsp;&nbsp;<%= categorias[i].nm %></div>
                      <img src="http://marketingdeconteudo.com/wp-content/uploads/2016/07/Tamanhos-imagens-redes-sociais-620x316.png" class="img-responsive" />
                      <div class="caption">
                        <p class="title">Fone de Ouvido Santa ssLuzia 500</p>
                      </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-3">

                    <a href="#" class="thumbnail" style="padding:0px">
                      <div style="background-color:<%= categorias[i].cor %>;padding:3px;color:white"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> &nbsp;&nbsp;<%= categorias[i].nm %></div>
                      <img src="http://marketingdeconteudo.com/wp-content/uploads/2016/07/Tamanhos-imagens-redes-sociais-620x316.png" class="img-responsive" />
                      <div class="caption">
                        <p class="title">Fone de Ouvido Santa ssLuzia 500</p>
                      </div>
                    </a>

                </div>

                <div class="col-sm-4 col-md-3">

                    <a href="#" class="thumbnail" style="padding:0px">
                      <div style="background-color:<%= categorias[i].cor %>;padding:3px;color:white"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> &nbsp;&nbsp;<%= categorias[i].nm %></div>
                      <img src="http://marketingdeconteudo.com/wp-content/uploads/2016/07/Tamanhos-imagens-redes-sociais-620x316.png" class="img-responsive" />
                      <div class="caption">
                        <p class="title">Fone de Ouvido Santa ssLuzia 500</p>
                      </div>
                    </a>

                </div>

              <div class="col-sm-4 col-md-3">

                    <a href="#" class="thumbnail" style="padding:0px">
                      <div style="background-color:<%= categorias[i].cor %>;padding:3px;color:white"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> &nbsp;&nbsp;<%= categorias[i].nm %></div>
                      <img src="http://marketingdeconteudo.com/wp-content/uploads/2016/07/Tamanhos-imagens-redes-sociais-620x316.pngg" class="img-responsive" />
                      <div class="caption">
                        <p class="title">Fone de Ouvido Santa ssLuzia 500</p>
                      </div>
                    </a>

                </div>

              </div>

            </div>

            <% } %>

        </div>

        <div class="col-sm-4 col-md-2 sidebar">
          
          <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          
          <div class="list-group" style="text-align:right">

              <% for(var i=0; i<categorias.length; i++) {%>
                <a href="#" class="list-group-item" style="font-size:16px">
                  <%= categorias[i].nm %>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:<%= categorias[i].cor %>"></span>
                </a>
              <% } %>

          </div>  

        </div>
       
        
      </div>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Facebook SDK core JavaScript
    ================================================== -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=616585798500309";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
  

   
    </script>

  </body>

</html>




