<html lang="en" >

<head>
  
  <title>Estudo de Interface</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Ubuntu' rel='stylesheet' type='text/css'>
  
  
  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/menu.css" >
  <link rel="stylesheet" href="css/estilo.css" >

</head>

<body ng-app="app">
  

  <div ui-view></div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <!-- Bower -->

  <script src="bower_components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  
  <!-- Sortable.js -->
  <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>

  <!-- ng-sortable.js -->
  <script src="http://rubaxa.github.io/Sortable/ng-sortable.js"></script>

  <!-- Sistema -->

  <!-- Core  -->
  <script src="app/app.module.js"></script>
  <script src="app/core/core.module.js"></script>
  <script src="app/blocks/router/router.module.js"></script>
  <script src="app/blocks/router/router-helper.provider.js"></script>
  <script src="app/blocks/logger/logger.module.js"></script>
  <script src="app/blocks/logger/logger.factory.js"></script>
  <script src="app/app.controller.js"></script>
  <script src="app/app.route.js"></script>
  <script src="app/app.run.js"></script>
  <script src="app/directives/directives.module.js"></script>

  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="app/directives/sidebar/sidebar.directive.js"></script>

  <!-- Categoria  -->
  <script src="app/categoria/categoria.module.js"></script>
  <script src="app/categoria/categoria.controller.js"></script>
  <script src="app/categoria/categoria.route.js"></script>

  <!-- Cursos  -->
  <script src="app/curso/curso.module.js"></script>
  <script src="app/curso/curso.controller.js"></script>
  <script src="app/curso/curso.route.js"></script>


  <!-- Aulas  -->
  <script src="app/aula/aula.module.js"></script>
  <script src="app/aula/aula.controller.js"></script>
  <script src="app/aula/aula.route.js"></script>

</body>
</html>