body {
  padding-top: 50px;
  background-color: #f1f2f1;
}

.navbar-inverse .navbar-brand{
  color:#FFF;
  font-family: 'Roboto Condensed', sans-serif;
}

.box{

    background-color:#FFF;
    padding:15px;
    border: solid 1px #ddd;
    margin-bottom:10px;
}

.box .title{

	font-family: 'Lato', sans-serif;
    letter-spacing: -.02em;
    text-align: left;
    color: #444;
    line-height: 1.1;
    font-weight: 700;

}


.box .subtitle{
	font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    opacity: .7;
    line-height: 30px;
    margin-top: 20px;
    color: #616161;

}