body {
  padding-top: 5px;
  background-color: #f1f2f1;
}

.navbar-inverse .navbar-brand{
  color:#FFF;
  font-family: 'Roboto Condensed', sans-serif;
}

.box{

    background-color:#FFF;
    padding:15px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:40px;
    border: solid 1px #ddd;
    margin-bottom:10px;
}

.box .title{

	  font-family: 'Lato', sans-serif;
    letter-spacing: -.02em;
    text-align: left;
    color: #444;
    line-height: 1.1;
    font-weight: 700;

}


.box .subtitle{
	 font-family: 'Roboto', sans-serif;
     margin-bottom: 35px;
    opacity: .7;
    line-height: 30px;
    margin-top: 20px;
    color: #616161;
    text-align: justify;

}

.box .content p{

    text-align: justify;
}

.box .aboutAuthor{

  padding: 20px;
  background-color: #F8F8F8;;
  border-radius: 3px;
}