﻿.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; 
}

.sidebar {
    position: relative;
}

.aulas{
	 list-style-type: none;
	 padding-left: 0px;

}
.aulas li{
	background-color: #d9edf7;
	padding: 15px;
	padding-top:5px;
	padding-bottom: 5px;
	margin-top:5px;
	cursor: move;
  	cursor: -webkit-grabbing;
  	border-bottom: 1px solid #e2e2e2;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}