﻿
<div class="col-xs-12 col-sm-12 col-md-6">
		

	<form>
		
		<div class="form-group">
	    	<label for="exampleInputEmail1">Nome do Curso</label>
	    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  	</div>
	  
	  	<div class="form-group">
	    	<label for="exampleInputEmail1">Descrição</label>
	    	<textarea class="form-control" rows="3"></textarea>
	  	</div>

	  	<button type="button" class="btn btn-default">Cadastrar</button>

	</form>





<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="http://aspblogs.blob.core.windows.net/media/dwahlin/Media/AngularJSCover.jpg" alt="curso">
      <div class="caption">
        <h3>Curso Angular 1</h3>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="http://jsbot.io/wp-content/uploads/2015/01/angular.png" alt="curso">
      <div class="caption">
        <h3>Curso Angular 2</h3>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>



</div>




	
		