﻿



<div class="modal-content">
	
	<div class="modal-header">
    	<h5 class="modal-title" id="modal-title">Checklist de Qualidade</h5>
    </div>
    

    <div class="modal-body ng-scope" id="modal-body">
	    

	    <div class="row">
					  
			<div class="col-sm-12 col-sm-12 col-md-10">
				
				<p style="font-size:14px;font-weight:bold;">Check List de Qualidade</p>
				
				<table class="table table-bordered table-striped">
					
					<tr><td width="80%">Campos obrigatórios preenchidos</td><td></td></tr>
					<tr><td width="80%">Imagem principal do artigo selecionada</td><td></td></tr>
					<tr><td width="80%">URL validada</td><td><span ng-if="vm.validations.url">SIM</span><span ng-if="!vm.validations.url">NAO</span></td></tr>
					<tr><td width="80%">Conteúdo Amigável</td><td></td></tr>
					<tr><td width="80%">Meta Tags Selecionadas</td><td></td></tr>
					<tr><td width="80%">Regras de SEO em conformidade</td><td></td></tr>
					
				</table>
			
			</div>
					
		</div>
	    	

	 
    </div>
    


    <div class="modal-footer ng-scope">
    	
    	<button class="btn btn-warning" type="button"  ng-click="vm.cancelar()">voltar</button>
        <button class="btn btn-success" type="button" ng-show="vm.proximo == 10" ng-click="vm.finalizar()">Enviar Artigo Para Avaliação</button>
        
    </div>

</div>