﻿


<div class="container">



<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    	<h3>Minhas Publicações</h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" align="right">
    	<a ui-sref="app.incluirartigo" class="btn btn-success" style="align:right;margin-top:10px">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Escrever Nova Publicação
		</a>
    </div>

</div>


<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	 		<div>

	 			
				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


						<table datatable="ng" class="table table-striped table-bordered table-condensed">
					        <thead>

						        <tr>
						            <th>ID</th>
						            <th>Titulo</th>
						            <th>Subtitulo</th>
						            <th>Status</th>
						            <th></th>
						        </tr>
						        
					        </thead>
					        
					        <tbody>
					        
						        <tr ng-repeat="artigo in vm.artigos">
						            <td>{{ artigo.id }}</td>
						            <td>{{ artigo.titulo }}</td>
						            <td>{{ artigo.subtitulo }}</td>
						            <td><span ng-if="artigo.status == 1" style="color:red">Não Aprovado</span><span ng-if="artigo.status == 4" style="color:green">Publicado</span><span ng-if="artigo.status == 3" style="color:blue">Aprovado</span><span ng-if="artigo.status == 2" style="color:blue">Aprovado com Ressalvas</span><span ng-if="artigo.status == 5" style="color:black">Removido</span></td>
						            <td>
						            	<button type="button" class="btn btn-warning btn-sm" ng-click="vm.edit(artigo.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
						            </td>
						        </tr>
					        
					        </tbody>
					    
					    </table>

					</div>
				</div>

			</div>	
		</div>	
	</div>	
</div>