﻿


<div class="container">

<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	 		<div>

	 			<div class="row">

				    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				    	<h3>Escrever Publicação</h3>
				    </div>

				</div>

				<br>

				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-10">

					 	<div class="form-group">
							<label for="exampleInputName2">Título</label>
							<input type="text" ng-model="vm.obj.titulo" class="form-control" id="exampleInputName2" placeholder="Escreva o título..."/>
							<p><div style="font-size:11px;color:#337ab7;cursor:pointer" ng-click="vm.isCollapsedTitulo = !vm.isCollapsedTitulo">Instruções para preenchimento.</div></p>
							<div uib-collapse="!vm.isCollapsedTitulo" style="background-color:#fcf8e3;padding:10px;">
								
								<p>
									<ul>

										<li>O título deve ser <b>descritivo e conciso</b>. Evite palavras vagas como "Início", "Aprendendo", "Artigo", "Curso" para o seu artigo, ou "Perfil" para o perfil de uma pessoa específica. Além disso, <b>evite títulos desnecessariamente longos</b>, propensos a ficarem truncados quando aparecerem nos resultados de pesquisas.</li>

										<li>É importante ter <b>títulos distintos entre artigos do site</b>. Mesmo se este artigo fizer parte de uma sequencia de artigos, não faça ligações dos artigos no título. Deixe essa tarefa na introdução. </li>
									</ul>

								</p>

							</div>

					  	</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10">
						<div class="form-group">
							<label for="exampleInputName2">Sub Título</label>
							<textarea type="text" ng-model="vm.obj.subtitulo" rows="3" class="form-control" id="exampleInputName2" placeholder="Escreva o sub título..."></textarea>
							<p><div style="font-size:11px;color:#337ab7;cursor:pointer" ng-click="vm.isCollapsedSubTitulo = !vm.isCollapsedSubTitulo">Instruções para preenchimento.</div></p>
							<div uib-collapse="!vm.isCollapsedSubTitulo" style="background-color:#fcf8e3;padding:10px;">	
								<p>
									<ul>

										<li>Será exibido nas <b>consultas do Google</b> e no <b>subtitulo do artigo</b>.</li>
										<li>Tenha preocupação em <b>vender o seu artigo neste campo</b>. Escreve uma descrição que convença as pessoas a lerem o seu artigo, <b>passando pelos os principais pontos</b> abordados.</li>
										<li>Diferencie as descrições para artigos diferentes. Descrições idênticas não são úteis quando aparecem nos resultados da Web.</li>
									</ul>

								</p>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10">
						<label for="exampleInputName2">Conteúdo</label>
						<p>Dica: Utilize editores como Dreamweaver para uma melhor experiência</p>
						<text-angular ng-model="vm.obj.textHtml" ta-toolbar="vm.taOptions" ></text-angular>
					</div>
				</div>
				

				<br>

				<hr>

				<br>

				<div class="row">

					<div class="col-xs-12 col-sm-6 col-md-6">

					 	<div class="form-group">
							<label for="exampleInputName2">Categoria do Artigo</label>
							<select class="form-control" ng-model="vm.obj.categoria">
							   <option ng-repeat="obj in vm.categorias " value="{{obj.id}}">{{obj.nm}}</option>
							 </select>
					  	</div>
					</div>
				</div>
				
				<br>
				<br>

				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-10" >

						<form style="background-color:#f5f5f5;padding:10px">


							<label for="exampleInputName2">Imagem do Artigo</label>
							<p><small>Veja o padrâo de imagem <a href="http://localhost:3000/images/template-img-artigo.png" target="_blank">clicando aqui!</a></small></p>
				  			<input id="file1" type='file' ng-model='vm.obj.imgTmp' accept="image/jpg" maxsize="850"  base-sixty-four-input>
				  			
				  			<table class="table" ng-if="vm.obj.imgTmp" >
				  				<thead>
				  					<tr><th>Arquivo</th><th>Tamanho</th></tr>
				  				</thead>
				  				<tbody>
				  					<tr><td>{{vm.obj.imgTmp.filename}}</td><td>{{vm.obj.imgTmp.filesize}}</td></tr>
				  				</tbody>
				  			</table>

						</form>

					</div>

				</div>

				<br>
				<br>


				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7">

						<div style="padding:5px;padding-left:15px;padding-right:15px;background-color:rgb(210, 236, 255);border: 1px solid #ccc;">
							<div class="form-group">
								<label for="exampleInputName2">URL</label>
								<p>Selecione a URL do artigo. Tente deixa-la única e que traduza o conteúdo do artigo.</p>
								<input type="text" ng-model="vm.obj.url" class="form-control" id="exampleInputName2" placeholder="ex. como-programar-java-basico-parte1" />
							</div>
						</div>

					</div>

					<div class="col-xs-12 col-sm-5 col-md-5">

						<button class="btn btn-sm btn-default" ng-click="vm.sugerir()" style="margin-top:33px;">Sugerir uma URL</button>
						
					</div>
				</div>


				<br>
				<br>

				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-10">
						<label for="exampleInputName2">Tags</label>
						<button class="btn btn-xs btn-success" ng-click="vm.abrirGeradorTags()">Carregar Tags</button>
						<tags-input ng-model="vm.obj.tags" style="height:120px;" disabled="disabled"></tags-input>

					</div>

				</div>


				<div class="row" style="margin-top:20px;">
				  
				  <div class="col-sm-12 col-sm-12 col-md-10">
				    	<div class="text-center">
				      		<button type="button" class="btn btn-primary btn-lg" ng-click="vm.incluir()">Salvar Artigo</button>
				      		<button type="button" class="btn btn-success btn-lg" ng-click="vm.abrirCheckListQualidade()">Validar Artigo</button>
				    	</div>
				  </div>

				</div>

				<br>
				<br>

			</div>	
		</div>	
	</div>	
</div>