﻿



<div class="modal-content">
	
	<div class="modal-header">
    	<h5 class="modal-title" id="modal-title">Gerador de Tags</h5>
    </div>
    

    <div class="modal-body ng-scope" id="modal-body">
	    

    	<div ng-if="vm.tags">

    		<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="exampleInputName2">Tags</label>
					<tags-input ng-model="vm.obj.tags" disabled="disabled" style="height:200px;"></tags-input>

				</div>

			</div>

	   	</div>

	   
	   	<div ng-if="vm.comoBuscarPt">


	   		<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Forma de Buscar 1</label>
					<textarea ng-model="vm.obj.campo1" class="form-control" rows="3"></textarea></tags-input>

				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Forma de Buscar 2</label>
					<textarea ng-model="vm.obj.campo2" class="form-control" rows="3"></textarea></tags-input>

				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Forma de Buscar 3</label>
					<textarea ng-model="vm.obj.campo3" class="form-control" rows="3"></textarea></tags-input>

				</div>

			</div>




	   	</div>


	  	<div ng-if="vm.comoBuscarEng">

	  		<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Formas de Buscar em Inglês</label>
					<textarea ng-model="vm.obj.campo4" class="form-control" rows="10"></textarea></tags-input>

				</div>

			</div>


	   	</div>


	   	<div ng-if="vm.anunciosPt">

	   		<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Titulo/Descrição do Artigo Similar na Internet 1</label>
					<textarea ng-model="vm.obj.campo5" class="form-control" rows="3"></textarea></tags-input>

				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Titulo/Descrição do Artigo Similar na Internet 2</label>
					<textarea ng-model="vm.obj.campo6" class="form-control" rows="3"></textarea></tags-input>

				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Titulo/Descrição do Artigo Similar na Internet 3</label>
					<textarea ng-model="vm.obj.campo7" class="form-control" rows="3"></textarea></tags-input>

				</div>

			</div>

	   	</div>


	   	<div ng-if="vm.anunciosEng">

	   		<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Titulo do Artigo Similar na Internet em Ingles 1</label>
					<input type="text" ng-model="vm.obj.campo8" class="form-control"></tags-input>

				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Titulo do Artigo Similar na Internet em Ingles 2</label>
					<input type="text" ng-model="vm.obj.campo9" class="form-control"></tags-input>

				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<label for="exampleInputName2">Titulo do Artigo Similar na Internet em Ingles 3</label>
					<input type="text" ng-model="vm.obj.campo10" class="form-control"></tags-input>

				</div>

			</div>

	   	</div>


	   	<div ng-if="vm.tagsRevisao">
{{vm.obj.tags}}
    		<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="exampleInputName2">Revisão</label>
					<tags-input ng-model="vm.obj.tags" style="height:200px;"></tags-input>

				</div>

			</div>

	   	</div>

 
    </div>
    


    <div class="modal-footer ng-scope">
    	<button class="btn btn-warning" type="button"  ng-click="vm.cancelar()">cancelar</button>
    	<button class="btn btn-primary" type="button" ng-disabled="vm.anterior == 0" ng-click="vm.go(vm.anterior)">anterior</button>
        <button class="btn btn-primary" type="button" ng-hide="vm.proximo > 6" ng-click="vm.go(vm.proximo)">proximo</button>
        <button class="btn btn-success" type="button" ng-show="vm.proximo == 10" ng-click="vm.finalizar()">Finalizar</button>
        
    </div>

</div>