﻿
<div class="container">


	<div class="row">

	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	    	<h3>Imagens</h3>
	    </div>

	</div>

	<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:rgb(237, 237, 237);padding:20px;">

        	<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

        	<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label>Selecione a Imagem que deseja relizar o Upload</label>
					<input id="file1" type='file' ng-model='vm.obj.files' accept="image/jpg" maxsize="1500" multiple base-sixty-four-input>
				</div>
			</div>
			<div class="row" style="margin-top:10px;">
				<div class="col-xs-12 col-sm-12 col-md-12" align="center">
					<button type="button" class="btn btn-primary btn-md" ng-click="vm.enviar()">Enviar Imagens</button>
				</div>
			</div>

        </div>

   
    </div>

    <br>
  
	<div align="center">
		<input type="text" name="filtro" align="center" ng-model="vm.filtro" style="width: 40%;" placeholder="Filtre pelo identificador da imagem"/>
	</div>


    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


		  <div class="col-sm-4 col-md-3" ng-repeat="obj in vm.lista | filter:{id:vm.filtro} | orderBy:'id' ">
		    
		    <div class="thumbnail" style="height:250px;padding:0px;margin-top:15px;">
		      
		      <div align="center">
			      <div style="max-width:55%;height:65%;" >
			      	<img src="http://s3-sa-east-1.amazonaws.com/mestrejedi/imagens/{{obj.id}}.jpg" class="img-responsive" alt="Imagem não disponivel">
			      </div>
		      </div>
		      
		      <div class="caption" style="height:35%;background-color:rgb(221, 221, 221);">

		        <div style="font-size:12px;">
		        	<div><b>Identificador:</b> {{ obj.id }}</div>
		        	<div><b>Formato:</b> {{ obj.type }}</div>
		        	<div><b>Tamanho:</b> {{ obj.size }}</div>

		        </div>

		        <div><button class="btn btn-primary btn-xs" role="button" ng-click="vm.visualizarImagem(obj.id)">Visualizar</button></div>

		      </div>


		    </div>



		  </div>


        </div>

    </div>




<div class="row">

</div>

 </div>


	
		