﻿
<div class="container">


	<br>

	<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	 		<div>


	 			<h2>Informações do Usuário</h2>



	 			<div class="row" style="margin-top:20px;">

					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" align="right">

						<button class="btn btn-primary" ng-click=" vm.open = true " > Enviar Convite</button>

					</div>


				</div>

				
				<div class="row" style="margin-top:20px;" ng-if="vm.open">

					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">



						
						<div class="row">

							
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="form-group">
									<input type="text" ng-model="vm.obj.nm" class="form-control" placeholder="Nome" />
							  	</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="form-group">
									<input type="text" ng-model="vm.obj.email" class="form-control" placeholder="E-mail" />
							  	</div>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="form-group">
									<input type="text" ng-model="vm.obj.artigo" class="form-control" placeholder="Artigo Sugerido" />
							  	</div>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								<div class="form-group" align="center">
									<button class="btn btn-default btn-sm" ng-click=" vm.open = false ">X</button>
									<button class="btn btn-success btn-sm" ng-click="vm.enviarConvite()" >Enviar</button>
							  	</div>
							</div>


						</div>




					</div>


				</div>


				<div class="row" style="margin-top:10px;">

					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

						<table class="table table-bordered table-striped">
							
							

							<thead>
								
								<tr><th>Nome</th><th>E-mail</th></tr>


							</thead>

							<tbody>
							
								<tr ng-if="vm.lista.length == 0"><td colspan="2" align="center" style="font-weight:bold">Sem Resultados</td></tr>
								
								<tr ng-repeat="obj in vm.lista">
									<td>{{obj.nm}}</td>
									<td>{{obj.email}}</td>
								</tr>

							</tbody>

						</table>

					</div>

				</div>

				

			</div>

		</div>


	</div>

</div>