﻿
<div class="container">


	<br>

	<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	 		<div>

	 			<h2>Informações do Usuário</h2>

				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">


						<div class="form-group">
							<label for="exampleInputName2">Nome</label>
							<input type="text" ng-model="vm.obj.nm" class="form-control" id="exampleInputName2"/>
					  	</div>


					</div>


				</div>

				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">


						<div class="form-group">
							<label for="exampleInputName2">Localidade</label>
							<input type="text" ng-model="vm.obj.local" class="form-control" id="exampleInputName2"/>
					  	</div>


					</div>


				</div>

				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">


						<div class="form-group">
							<label for="exampleInputName2">E-mail</label>
							<input type="text" ng-model="vm.obj.email" class="form-control" id="exampleInputName2"/>
					  	</div>


					</div>


				</div>


				<div class="row">

					<div class="col-xs-12 col-sm-9 col-md-7 col-lg-7">


						<div class="form-group">
							<label for="exampleInputName2">Website</label>
							<input type="text" ng-model="vm.obj.website" class="form-control" id="exampleInputName2"/>
					  	</div>


					</div>


				</div>

				<div class="row">

					<div class="col-xs-12 col-sm-9 col-md-7 col-lg-7">

						<div class="form-group">
							<label for="exampleInputName2">Resumo Profissional</label>
							<textarea type="text" ng-model="vm.obj.resumo" rows="7" class="form-control" id="exampleInputName2" ></textarea>
						</div>

					</div>

				</div>

				<div class="row">
				  <div class="col-sm-12 col-sm-12 col-md-10">
				    	<div class="text-center">
				      		<button type="button" class="btn btn-primary btn-lg" ng-click="vm.incluir()">Atualizar Informações</button>
				    	</div>
				  </div>
				</div>


			</div>

		</div>


	</div>

</div>