﻿<div id="menu">
<div class="navbar-default sidebar" role="navigation">
    
	<div class="sidebar-nav navbar-collapse">
        
		<ul class="nav in" id="side-menu">

			<li ui-sref-active="active">
                <a ui-sref="dashboard.home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></i> Home</a>
            </li>
			
            <li ui-sref-active="active">
                <a ui-sref="app.curso"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cursos</a> 
            </li>
			
			<li ui-sref-active="active">
                <a ui-sref="app.cliente"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Pacientes</a>
            </li>
			
			<li ng-class="{active:collapseVar==1}">
                
				<a href="" ng-click="check(1)"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Serviços & Produtos<span class="fa arrow"></span></a>
                
				<ul class="nav nav-second-level" uib-collapse="collapseVar!=1">
                    
					<li ui-sref-active="active">
                        <a ui-sref="app.servico"> Serviços Prestados</a>
                    </li>

                </ul>
				
            </li>

			<li ng-class="{active: collapseVar==3}">
						
				<a href="" ng-click="check(3)"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Cadastros<span class="fa arrow"></span></a>
				
				<ul class="nav nav-second-level" uib-collapse="collapseVar!=3">
					
					<li ui-sref-active="active">
						<a ui-sref="app.cadastroespecialidade"> Especialidades</a>
					</li>
					
					<li ui-sref-active="active">
						<a ui-sref="app.cadastroprodutocategoria"> Categorias</a>
					</li>

				</ul>
				
			</li>
					
            <li ng-class="{active: collapseVar==4}">
                <a href="" ng-click="check(4)"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Configuração<span   
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" uib-collapse="collapseVar!=4">
 
					<li ui-sref-active="active">
                        <a ui-sref="app.profissional">Usuários do Sistema</a>
                    </li>
					
					<li ui-sref-active="active">
                        <a ui-sref="app.empresabasico">A Clínica</a>
                    </li>
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
		
		
		<div style="margin-left:0px;margin-top:0px;border-top:2px;">
			<calendar selected="day" style="margin-bottom:0px;"></calendar>
		</div>
	
		
		
    </div>
    <!-- /.sidebar-collapse -->
</div> 
</div>